@import '../../../_assets/_variables.scss';

.section-subtitle {
    background: $color-secondary;
    background-image: linear-gradient(to bottom left, $color-secondary, $color-primary);
    font-size: 1.4em;
    font-weight: 500;
    margin: 2.4rem auto 0;
    padding: 8px 18px;

    &__black {
        color: $color-white;
    }

    &__white {
        color: $color-black;
    }

    @media screen and (min-width: $screen-xs) {
       //background: red;
        //background-image: linear-gradient(to bottom left, red,blue);
    }

    @media screen and (min-width: $screen-lg) {
        color: $color-black;
        line-height: 1.5em;
        margin-top: 20px;
        padding: 0;
        display: inline-block;
        padding: 2px 18px;
        text-align: left;
    }
}