@import '../../../_assets/_variables.scss';

.section-subtitle {
    background: $color-secondary;
    background-image: linear-gradient(to bottom left, $color-secondary, $color-primary );
    font-size: 1.4em;
    font-weight: 500;
    margin: 2.4rem auto 0;
    padding: 8px 18px;

    &__black {
        color: $color-white;
    }

    &__white {
        color: $color-black;
    }
}