@import '../../../_assets/_variables.scss';

.btn-primary {
    background-color: $color-black;
    border: none;
    color: $color-primary;
    display: block;
    font-family: $font-mono;
    font-size: 1.1em;
    margin: 20px auto;
    width: 78vw;
    padding: 1em 2em;
    text-decoration: none;
    text-align: center;

    @media screen and (min-width: $screen-md) {
        width: 27rem;
    }

    @media screen and (min-width: $screen-md) {
        width: 18rem;
    }
}