@import '../../../_assets/_variables.scss';

.btn-primary {
    background-color: $color-black;
    border: none;
    color: $color-primary;
    display: block;
    font-family: $font-mono;
    font-size: 1.1em;
    margin: 20px auto;
    width: 78vw;
    padding: 1em 2em;
    text-decoration: none;
    text-align: center;

    @media screen and (min-width: $screen-md) {
        width: 18rem;
    }

    @media screen and (min-width: $screen-lg) {
        &:hover {
            background-color: $color-primary;
            color: $color-black;
            cursor: pointer;
            -webkit-transition:  background-color 150ms linear;
            -ms-transition:  background-color 150ms linear;
            transition:  background-color 150ms linear;
        }

        &:focus {
            background-color: $color-primary;
            box-shadow: inset 1px 3px 5px 0px $color-primary-darker;
            color: $color-black;  
        }
    }
}