@import '../../_assets/_variables.scss';

.section-education {
    &__degree {
        margin-bottom: 3em;
    }

    &__description {
        font-size: 0.9em;
        font-style: italic;
        font-weight: 300;
        line-height: 1.6em;
    }

    &__list {
        color: $color-primary;
        font-size: 1.2em;
        font-weight: 500;
        padding-left: 20px;
        text-align: left; 
    }

    &__list-content {
        color: $color-white;
        position: relative;
        margin: 0  0 2em 0.4em;
    }

    &__paragraph {
        font-size: 1.2em;
        font-weight: 400;
        line-height: 1.8em;
        text-align: left;
    }

    &__small {
        display: block;
        font-size: 13px;
        font-weight: 300;
        margin-top: 0.5em;
    }
}