@import '../../_assets/_variables.scss';

.page-header {
    background-color: $color-primary;
    background-image: linear-gradient(to bottom left, $color-secondary, $color-primary );
    grid-area: header;
    padding: 60px 0 20px 0;
    text-align: center;
  
    &__button {
      background-color: $color-gray-lighter;
      border: none;
      border-radius: 3px;
      font-family: $font-mono;
      font-size: 0.7em;
      padding: 5px 8px;
     
      &--active {
        border: 1pt solid $color-gray-darker;
        box-shadow: inset 0 0 4px 1px $color-gray;
      }
      
    } 

    &__languages {
      align-items: center;
      display: flex;
      gap: 4px;
      justify-content: flex-end;
      left: -1em;
      position: relative;
      top: -3em;
    }
  
    &__subtitle {
      color: $color-white;
      display: block;
      font-size: 1em;
      font-style: italic;
      font-weight: 500;
      margin-bottom: 40px;
      margin-top: 28px;
      padding-left: 5px;
      padding-right: 5px;
  
      &::after {
        content: " -->"
      }
  
      &::before {
        content: "<!-- "
      }
    }

    &__title {
      font-size: 2em;
      font-weight: 400;
      margin: 0 auto;
      padding: 10px 40px;
    }

    @media screen and (min-width: $screen-lg) {
      background: none;
      margin: 0 auto;

      &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 32vw;
        column-gap: 32px;
      }

      &__subtitle {
        color: $color-primary;
        font-size: 1.2em;
      }

      &__title {
        font-size: 2.8em;
      }
      
      &__titles {
        background-color: $color-white;
        //background-color: initial;
        border: 2pt solid $color-black;
        box-shadow: 0px 8px 0px 5px $color-gray;
        // font-size: 2em;
        margin: 0 auto 100px;
        max-width: 60vw;
        padding: 100px 0 60px 0;
        place-self: center;
        width: 60vw;
      }
    }
  }
  