@import '../../_assets/_variables.scss';

.section-work-experience {
    &__paragraph {
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.8em;
        margin: 1.6em 0 3em 0;
        text-align: left;
    }

    &__small {
        display: block;
        font-size: 0.9em;
        margin-top: 0.5em;
    }

    @media screen and (min-width: $screen-lg) {
        column-gap: 2em;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:  "title . . .";
        grid-template-areas: 
        "title ramper ramper ramper"
        "title thomson thomson thomson" 
        "title encoda encoda encoda"
        "title netwire netwire netwire"
        "title mstech mstech mstech" 
        "title completa completa completa"  ;
        text-align: left;
    }

    &__small {
        display: inline;
        padding-left: 1em;
        font-weight: 300;
    }
    
}