@import './_assets/variables';

.App {
  background-color: $color-white;
  color: $color-black;
  font-family: $font-mono;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;

  .section-education,
  .section-languages, 
  .section-skills,
  .section-work-experience  {
    // margin-top: 40px;
    padding: 20px 3rem;
  }
  
  .section-skills, .section-education {
    background-color: $color-black;
    color: $color-white;
    padding-bottom: 4em;
  }

  @media screen and (min-width: $screen-xs) {
    .section-about,
    .section-education,
    .section-languages, 
    .section-skills,
    .section-work-experience {
      padding: 50px 5rem;
    }
  }

  @media screen and (min-width: $screen-md) {
    background-image: linear-gradient(
      to right,
      $color-gray-lighter 60%,
      $color-white 100%
    );
  }

  @media screen and (min-width: $screen-lg) {
    .section-about,
    .section-contact,
    .section-education,
    .section-languages, 
    .section-skills,
    .section-work-experience {
      background-color: initial;
      color: $color-black;
      margin: 0 auto;
      max-width: 60vw;
    }
  }
}