@import './_assets/variables';

.App {
  background-color: $color-white;
  color: $color-black;
  font-family: $font-mono;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;

  .section-contact, 
  .section-education,
  .section-languages, 
  .section-skills,
  .section-work-experience  {
    // margin-top: 40px;
    padding: 20px 2.5rem;
  }
  
  .section-skills, .section-education {
    background-color: $color-black;
    color: $color-white;
  }

  @media screen and (min-width: $screen-md) {
    background-image: linear-gradient(
      to right,
      $color-gray 60%,
      $color-gray-lighter 100%
    );
  }
}