@import '../../_assets/_variables.scss';

.section-languages {
    &__small {
        display: block;
        font-size: 1.12em;
        font-weight: 300;
        margin-top: 0.5em;
    }

    &__subtitle {
        font-size: 50px;
    }

    @media screen and (min-width: $screen-lg) {
        column-gap: 2em;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:  "title . . .";
    }
}